html{
    
    font-family: 'Spline Sans Mono', monospace;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

/* .fadein{
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.fadein.appear{
    opacity: 1;
} */

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

.spacer{
    
    margin: 25px;
}

a{
    text-decoration: none;
    color: #222;
}

.blueh{
    color: #4D77FF;
}

.purh{
    color: #4400AA;
}

body{
    margin: 0%;
}

.tas{
    font-size: 12px;
    color: #555;
}

nav{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-around;
    /* padding-right: 50px;
    padding-left: 50px; */
    /* background-color: #4400AA;
     */
    background: linear-gradient(180deg, #AAEEFF 0.32%, rgba(68, 0, 170, 0) 100%);
    /* color: white; */
    /* animation: pulse 2s infinite;
    animation-timing-function: ease-in-out; */
}

.navhead{
    font-weight: 500;
    font-size: 2em;
}

.navbtn{
    border: solid 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 12px;
    font-weight: 500;
}
.navbtn:hover{
    border: solid 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 12px;
    font-weight: 500;
    background-color: #F2FA5A;
}

.hero{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.herotxt{
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    width: 60%;
    text-align: center;
}

.hermoimg{
    margin-top: 30px;
    width: 222px;
    margin-bottom: 30px;
}

.hsubhead{
    font-size: 18px;
    width: 60%;
    font-weight: 500;
}

.heroact{
    display: flex;
    
    justify-content: space-around;
    flex-direction: row;
    width: 70%;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

input{
    border: solid 3px;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 48px;
    margin-right: 48px; */
    border-radius: 12px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 350px;
    padding-left: 10px;
    
}

.btn{
    background-color: #AAEEFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.btn:hover{
    background-color: #4400AA;
    color: #F2FA5A;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}

.sec2{
    width: 100%;
    min-height: 100vh;
    /* height: auto; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #F2FA5A;
    padding-top: 50px;
    padding-bottom: 50px;
}

picture{
    display: flex;
    align-items: center;
    justify-content: center ;
}

.sec3{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 200vh;
    /* height: auto; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(170, 238, 255, 0) 0%, #AAEEFF 41.98%);
}

.sec2img{
    margin-top: 30px;
    width: 70%;
    margin-bottom: 30px;
}

.f{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 70%;
    width: fit-content;
    margin-bottom: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.fimg{
    min-width: 35%;
    max-width: 80%;
}

.fe{
    background-color: white;
    padding: 25px;
    border-radius: 12px;

}

.ftxt{
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    
    text-align: left; 
}

.fr{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-width: 70%;
    padding-left: 10%;
    padding-right: 10%;
}

.sec4{
    /* width: 100vw; */
    padding-left: 100px;
    min-height: 100vh;
    /* height: auto; */
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    background-color: #4400AA;
    flex: 50%;
    /* padding-bottom: 150px; */
    
}

.ccon{
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    align-self: center;
    height: 50%;
    display: flex;
    align-content: space-around;
}

.ce{
    background-color: #F2FA5A;
    padding: 25px;
    border-radius: 12px;
    min-width: 45vw;
    max-width: 70vw;
    /* margin-left: 50px; */
    

}

.ctxt{
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    
    text-align: left; 
}

.cr{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.jbot{
    
    /* padding-right: 20%; */
    overflow-x: hidden;
    height: 100vh;
    justify-content: space-evenly;
    height: 100vh;
    width: 250px;
    background-image: url("c.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    

}

.cimg{
    width: 44vw;
    max-width: 400px;
    

}

.cact{
    display: flex;
    /* margin-left: 50px; */
    justify-content: space-around;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* .hey{
    width: 120%;
} */

.dbtn{
    border: solid 3px;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 48px;
    margin-right: 48px; */
    border-radius: 12px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
    max-width: 100%;
    
}

.dbtn:hover{
    border: solid 3px;
    padding-right: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 48px;
    margin-right: 48px; */
    border-radius: 12px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    /* width: 350px; */
    padding-left: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #AAEEFF;
    text-align: center;
}

.botnav{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}


@media only screen and (max-width: 788px) {
    .f{
        flex-direction: column;
    }

    .fr{
        flex-direction: column;
    }

    .ccon{
        /* padding-left: 100px; */
    }

    .ce{
        
    }
    
    input{
        width: 65vw;
    };
    
    .sec4{
        /* background-size: 20%; */
        width: fit-content;
    }

    .fimg{
        width: 100%!important;
    }

    .btn{
        padding-left: 24px;
        padding-right: 24px;
    }

    .btn:hover{
        padding-left: 24px;
        padding-right: 24px;
    }

    .dbtn{
        padding-left: 24px;
        padding-right: 24px;
    }

    .dbtn:hover{
        padding-left: 24px;
        padding-right: 24px;
    }

    
    .herotxt{
        width: 85%;
    }

    .hsubhead {
        width: 85%;
    }

    .nbtn{
        display: none   ;
    }

    nav{
        justify-content: center;
    }
}




